@media(max-width:1400px) {}

@media(max-width:1200px) {}

@media(max-width:992px) {
    .mt-lg {
        margin-top: 30px !important;
    }
    .sp-card{
        margin-top: 20px;
    }
    .testimonial-box{
        margin-bottom: 150px;
    }
    .mt20{
        margin-top: 20px;
    }
    .testimonial{
        padding: 60px 0px 0px;
    }
}

@media(max-width:768px) {
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media(max-width:576px) {}