<%- include('../Partials/header.ejs') -%>
<!-- Event -->

<div div class="events" id='event'>
    <div class="container">
        <div class="spec-title">
            <h2 class='text-light'>Event</h2>
            <p class='fw-semibold pb-4 primary'>Organize Your Events in our Restaurant</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="e-img d-flex justify-content-center">
                    <img src="/image/e1.jpg" class='img-fluid' alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class='primary ff-playfair fs-26 fw-semibold mt20'>Birthday Parties</h3>
                <div class="e-prc">
                    <span class='fs-26 fw-bolder'>$189</span>
                </div>
                <p class='fst-italic ff-opensans mt-3'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore
                    magna aliqua.
                </p>
                <ul class='p-0'>
                    <li class="list-unstyled ">
                        <a class='text-decoration-none ff-opensans text-light pb-10'> Ullamco laboris nisi ut
                            aliquip ex ea
                            commodo consequat.</a>
                    </li>
                    <li class="list-unstyled ">
                        <a class='text-decoration-none ff-opensans text-light pb-10'> Duis aute irure dolor in
                            reprehenderit in
                            voluptate velit.</a>
                    </li>
                    <li class="list-unstyled ">
                        <a class='text-decoration-none ff-opensans text-light pb-10'> Ullamco laboris nisi ut
                            aliquip ex ea
                            commodo consequat.</a>
                    </li>
                </ul>
                <p class='ff-opensans mb-3'>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in
                    voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                </p>
            </div>
        </div>
    </div>
</div>
<%- include('../Partials/footer.ejs') -%>