<%- include('../Partials/header.ejs') -%>
    <div class="vh-100">
        <div class='mbanner d-flex align-items-center'>
            <div class="container">
                <div class="row p-110">
                    <div class="col-md-8 flex">
                        <h1 class='fw-bolder text-light display-5 lh-1'>Welcome to <span
                                class='primary'>Restaurantly</span></h1>
                        <h2 class='fontf text-light'>Delivering great food for more than 18 years!</h2>
                        <a href="/menu"
                            class='btn bdr  text-decoration-none rounded-5 text-light d-inline-block mt me-3'>OUR
                            MENU</a>
                        <a href="/bookatable"
                            class='btn text-decoration-none  bdr rounded-5 text-light d-inline-block mt'>BOOK A
                            TABLE</a>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center position-relative mt-lg">
                        <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ"
                            class='play rounded-circle text-decoration-none text-light p-4'>
                            <i class="bi bi-play-fill fs-4 p-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../Partials/footer.ejs') -%>