<%- include('../Partials/header.ejs') -%>
<!-- Special Items -->

<div div class="special-items" id='special'>
    <div class="container">
        <div class="spec-title">
            <h2 class='text-light'>Special</h2>
            <p class='fw-semibold pb-4 primary'>Check Our Specials</p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <ul class='p-0'>
                    <li class='list-unstyled spes p-spe'>
                        <a class='text-decoration-none spes-item ff-opensans text-light'>Modi sit est</a>
                    </li>
                    <li class='list-unstyled p-spe'>
                        <a class='text-decoration-none spes-item ff-opensans text-light hov'>Unde praesentium
                            sed</a>
                    </li>
                    <li class='list-unstyled p-spe'>
                        <a class='text-decoration-none spes-item ff-opensans text-light hov'>Pariatur explicabo
                            vel</a>
                    </li>
                    <li class='list-unstyled p-spe'>
                        <a class='text-decoration-none spes-item ff-opensans text-light hov'>Nostrum qui quasi</a>
                    </li>
                    <li class='list-unstyled p-spe'>
                        <a class='text-decoration-none spes-item ff-opensans text-light hov'>Iusto ut expedita
                            aut</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-8">
                        <h3 class='text-light mb-3 pb-1 fs-4 mt20'>Architecto ut aperiam autem id</h3>
                        <p class='fst-italic text-light'>Qui laudantium consequatur laborum sit qui ad sapiente dila
                            parde sonata raqer a videna mareta paulona marka</p>
                        <p class='text-light'>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum
                            sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat
                            minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique
                            accusamus nostrum rem vero</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="spe-item-img d-flex justify-content-center">
                            <img class='img-fluid' src="/image/mp1.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../Partials/footer.ejs') -%>